{% extends "global/base.html" %}

{% block content %}
{% if page_obj %}
    <div class="responsive-table">
        <table class="contacts-table">
            <caption class="table-caption">
                Grupos de Pré-Jovens
            </caption>
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">ID</th>
                    <th class="table-header">Grupo</th>
                    <th class="table-header">Rua</th>
                    <th class="table-header">Livro</th>
                    <th class="table-header">Lições</th>
                    <th class="table-header">Dia da Semana</th>
                    <th class="table-header">Último Encontro</th>
                    <th class="table-header">Pré-jovens</th>
                </tr>
            </thead>
            <tbody>
                {% for grupo in page_obj %}
                <tr class="table-row">
                    <td class="table-cel">
                        <a class="table-link" href="{% url 'contact:grupoprejovens_detail' grupo.id %}">{{ grupo.id }}</a>
                    </td>
                    <td class="table-cel">
                        <a class="table-link" href="{% url 'contact:grupoprejovens_detail' grupo.id %}">{{ grupo.nome }}</a>
                    </td>
                    <td class="table-cel">
                        {{ grupo.rua }}
                    </td>
                    <td class="table-cel">
                        {{ grupo.livro }}
                    </td>
                    <td class="table-cel">
                        {{ grupo.licoes }}
                    </td>
                    <td class="table-cel">
                        {{ grupo.dia_semana }}
                    </td>
                    <td class="table-cel">
                        {{ grupo.data_ultimo_encontro }}
                    </td>
                    <td class="table-cel">
                        {% for pre_jovem in grupo.pre_jovens.all %}
                            <a class="table-link" href="{% url 'contact:contact' pre_jovem.id %}">{{ pre_jovem.first_name }} {{ pre_jovem.last_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            Nenhum pré-jovem cadastrado.
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% else %}
    <div class="single-contact">
        <h1 class="single-contact-name">
        Nenhum grupo de pré-jovens encontrado.
        </h1>
    </div>
{% endif %}
    </div>
{% endblock content %}